@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/Raleway-Black.woff") format("woff"),
    url("../assets/fonts/Raleway-Black.woff2") format("woff2");
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Bold.woff2') format('woff2'),
    url('../assets/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.woff2') format('woff2'),
    url('../assets/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Black.woff2') format('woff2'),
    url('../assets/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/latoheavy.woff2') format('woff2'),
    url('../assets/fonts/latoheavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}